html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  font-size: 62.5%;
}
#posicao {
  position: absolute;
  top: 0%;
}
.primeirotexto{
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: cursive;
}
#segundaposicao{
  position: absolute;
  top: 4%;
}
.seta1 {
  top: 10.5%;
  left: 50%;
  transform: translateX(0%);
  position: absolute;
  width: 50px;
  height: 50px;
  color: pink;
}
.seta2 {
  top: 10.5%;
  left: 50%;
  transform: translateX(-100%);
  position: absolute;
  width: 50px;
  height: 50px;
  color: pink;
}
strong {
  color: pink;
}